#experiencia {
  margin: 1rem auto;
  padding-top: 5rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 1.25rem;

  & .sub-titulo {
    place-self: start center;
    color: #e0e0e0;
    padding: 0 1.25rem;
    word-break: break-all;
    font-size: 9rem;
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    & .intro {
      color: #525252;
      font-size: 1.5rem;
      max-width: 35rem;
      margin-left: 5rem;

      & strong {
        color: #141414;
      }
    }

    & .lista {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      & li {
        display: flex;
        flex-direction: column;

        & .item {
          display: grid;
          grid-template-columns: auto auto;

          & .ano {
            place-self: start end;
            display: inline-block;
            white-space: nowrap;
            width: 4rem;
            height: 1.25rem;
            padding: 1.25rem 1rem 0 0;
            position: relative;
            text-align: right;
          }

          & .ano::after {
            position: absolute;
            right: 0;
            content: "";
            width: 0.25rem;
            height: 1.25rem;
            background: linear-gradient(#b6f829, #67dd0a);
          }

          & .item-info {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 1.25rem;
            background-color: #f0f0f0;
            border-radius: 5px;
            padding: 1.25rem;

            & p {
              grid-row: 2;
              color: #525252;
            }

            & ul {
              place-self: start start;
              display: flex;
              justify-content: center;
              gap: 0.5rem;
              flex-wrap: wrap;

              & li {
                color: #141414;
                background-color: #fff;
                justify-content: center;
                text-align: center;
                padding: 0.3rem 0.7rem;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}
