body {
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
}

h1,
h2,
h3,
p,
ul,
li,
a,
div,
time {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
